* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 50em;
  min-width: 40em;
  border-radius: 1rem;
  background: linear-gradient(0deg, rgb(80, 89, 80) 40%, #434840 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: grid;
  height: 14em;
  width: 40em;
  /* min-content: zo groot als wat erin zit */
  /* 1fr: de ruimte die over blijft */
  /* 2 columns, 3 rows */
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
}

/* job */
p {
  position: relative;
  padding: 8px;
}

img {
  position: relative;
  width: 10em;
  height: auto;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
  margin-right: auto;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* hoe structuur van de list eruit zal zien */
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 1rem 0 3rem;
  text-align: center;
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  font-weight: bold;
  cursor: pointer;
}

.popover {
  visibility: hidden;
  width: 400px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  /* Plaatst de popover boven het dt-element */
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

dt:hover .popover {
  visibility: visible;
  opacity: 1;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}

p { 
  margin: 0;
}

article > p {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
}

/* hover op de article vergroot de article */
article:hover {
  transform: scale(1.3);
  /* box-shadow: 0 0 20px 20px rgba(0,0,0,.1); */
}


/* source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
.flip-picture {
  background-color: transparent;
  width: 11rem;
  height: 11rem;
  perspective: 1000px;
  /* 4 rows maken */
  grid-row-end: 4;
  /* maak plaats voor de foto. door 2 columns als 1 gedeelte te zien */
  /* de 1tjes en 2tjes kan de zien met inspect */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  align-self: center;
}

.flip-picture-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-picture:hover .flip-picture-inner {
  transform: rotateY(180deg);
}

.flip-picture-front, .flip-picture-back {
  position: absolute;
  display: flex;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-picture-front {
  background-color: transparent;
}

.flip-picture-back {
  background-color: transparent;
  transform: rotateY(180deg);
}

/* flip de article */
/* source: https://codepen.io/mondal10/pen/WNNEvjV */
.card {
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__back {
  backface-visibility: hidden;
  transform: rotateY(180deg);

  /* position: relative; */
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 50vw;
  max-width: 50em;
  min-width: 40em;
  border-radius: 1rem;
  background: linear-gradient(0deg, slateblue 40%, slateblue 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}



/* verander de layout als het sherm te klein is */
/* in de index file head, moet viewport aanwezigzijn */
@media (max-width: 600px) {
  article {
    width: 100%;
    min-width: 0;
  }
  header {
    width: 100%;
  }
  img {
    width: 10rem;
  }
/* programming skils boven aan de list krijgen */
  dl {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      ;
  }

  .card.is-flipped {
    transform: none;
  }

}